body ,ul,h1,h2,h3,h4{
    margin: 0;
    /* background-color: orange; */
    padding: 0;
}

header{
    background-color: #D19C00;
    text-align: center;
    padding: 0.5%;
}
header input[type="text"] {
    background-color: #FFC107;
    border: none;
    padding: 2px 5px;
}
article {
    background-color:  #E9B000;
    /* margin-top: 5px; */
    padding: 2% 1%;
    font-size: 25px;
    font-weight: bold;
}

section {
    background-color: #F9C309;
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
section div{
    width: 30%;
    background-color: white;
    /* padding: 1%; */
    /* box-shadow: 10px 10px 12px gray; */
}
section div:hover{
    box-shadow: 10px 10px 12px gray;
    opacity: 0.6;
}
section div img{
    width: 100%;
}
section div h3{
    padding-left: 3%;
}
section div p{
    text-align: justify;
    padding: 3%;
}
.card-content{
    background-color: white;
    /* padding: 1%; */
    color: black;
    width: 100%;
}


/* .card {
    padding: 1%;
    background-color: white;
} */

footer {
    background-color: #D19C00;
    padding: 5px;
}