body{
    margin: 0;
}

header{
    padding: 3%;
    background-color: green;
    margin-bottom: 2px;
}
header p{
    text-align: center;
    font-size: 20px;
}
mark {
    background-color: brown;
}
section{
    background-color: gray;
    padding: 2%;
}
section h2{
    text-align: center;
    text-decoration: underline;
}
.news-block li{
    list-style: lower-greek;
}
.news-block li a{
    color: green;
    text-decoration: none;
}
.std-info, .std-info tr, .std-info td, .std-info th{
    border: 2px solid green;
    border-collapse: collapse;
    padding: 5px;
}

footer{
    padding: 3%;
    background-color: green;
    margin-top: 2px;
    text-align: center;
    font-size: 2rem;
}